/swap_stubs_test_project/swap_stubs_test_project-backups
/*.png
/metadata_package.json
/metadata.json
/.idea
/error_dialog_GUI.py
/__pycache__
/swap_stubs.log
/swap_stubs_error.log
/swap_stubs_test_project/fp-info-cache
/swap_stubs_test_project/swap_stubs.log
